<!-- <p>Aqui se Abre el formulario Editar!</p> -->
<section class="vh-100 gradient-custom">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-4 text-center">
                        <!-- <form [formGroup]="registerForm" (ngSubmit)="register()"> -->
                        <form>
                            <div class="mb-md-5 mt-md-4 pb-1s">
                                <h2 class="fw-bold mb-2 text-uppercase" style="color: rgb(51, 38, 240);">Editar Usuario</h2>
                                <p class="text-white-50 mb-5 text-center">Por favor Edite sus Datos Personales!</p>

                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                        placeholder="Nombre Completo" />
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched"></span> -->
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">El Correo <strong>Es invalido</strong> </span> -->
                                </div>

                                
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                        placeholder="Cedula" />
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched"></span> -->
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">El Correo <strong>Es invalido</strong> </span> -->
                                </div>

                                
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                        placeholder="Correo" />
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched"></span> -->
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">El Correo <strong>Es invalido</strong> </span> -->
                                </div>

                                
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                        placeholder="Telefono" />
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched"></span> -->
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">El Correo <strong>Es invalido</strong> </span> -->
                                </div>

                                
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-lg" formControlName="usuario"
                                        placeholder="Direccion" />
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched"></span> -->
                                    <!-- <span class="text-danger" *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">El Correo <strong>Es invalido</strong> </span> -->
                                </div>


                                <div class="mb-3">
                                    <input type="password" formControlName="repetirPassword"
                                        class="form-control form-control-lg" placeholder="Contraseña">
                                    <!-- <span class="text-danger" *ngIf="registerForm.hasError('notSame')"> Contraseñas <strong>distintas</strong>  </span> -->
                                </div>
                                <div class="mb-3">
                                    <button routerLink="/producto" class="btn btn-outline-info btn-lg" style="margin-right: 10px;">Volver</button>
                                    <button routerLink="/" class="btn btn-outline-primary btn-lg">Aceptar</button>
                                    <!-- <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg float-left">Aceptar</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
